.list-users-container{
    .list-users-content{
        
        .child{
            cursor: pointer;
            width: 400px;
            margin: 0 auto;
            height: 40px;
            border-bottom: 1px solid grey;
            &:first-child {
                border-top: 1px solid grey;
            }
            margin-top: 5px;
        }
    }
}
